<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добро пожаловать в "Книжный Червь"</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="~{navigation :: navi(Home)}"></div>

<div class="container">
    <br>
    <br>
    <h1>Книжный магазин</h1>

    Добро пожаловать в магазин "Книжный Червь"!
</div>

</body>
</html>