<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://192.168.121.128:5432/cars_db</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">zamut</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="learnUp.project.springboot.entities.Author"/>
        <mapping class="learnUp.project.springboot.entities.Book"/>
        <mapping class="learnUp.project.springboot.entities.BookWarehouse"/>
        <mapping class="learnUp.project.springboot.entities.Client"/>
        <mapping class="learnUp.project.springboot.entities.Order"/>
        <mapping class="learnUp.project.springboot.entities.OrderDetail"/>
        <mapping class="learnUp.project.springboot.entities.BatchOfBook"/>
    </session-factory>
</hibernate-configuration>